<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.mosun">
    <!-- 권한추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" /> <!-- 카메라 -->

    <uses-feature android:name="android.hardware.camera.autofo
    cus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".login.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:largeHeap="true">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_app_key" />


        <activity android:name=".loading.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 액티비티 -->
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity android:name=".qrcode.ScanQR" />
        <activity android:name=".qrcode.CreateQR" />
        <activity
            android:name=".qrcode.QRPopupActivity"
            android:theme="@style/PopUpTheme" />
        <activity
            android:name=".activity.CoursePopupActivity"
            android:theme="@style/PopUpTheme" />

        <activity android:name=".activity.CourseActivity" />
        <activity android:name=".activity.AreaActivity" />
        <activity android:name=".qrcode.QRNetworkActivity" />
        <activity android:name=".stamp.DetailPopUpActivity" />
        <activity android:name=".stamp.CourseSelectionActivity" />
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".camera.CameraActivity"/>
        <activity android:name=".network.NetworkActivity"/>
        <activity android:name=".qrcode.MaskPopupActivity"
            android:theme="@style/PopUpTheme" />
        <activity android:name=".information.WithdrawalPopUpActivity"
            android:theme="@style/PopUpTheme"/>
        <activity android:name=".loading.HelpActivity"/>



    </application>

</manifest>